<div class="col-12 ml-3" *ngIf="orderFound">
    <h3 class="mt-1">Current Order</h3>
    <h4>Status: <span [ngClass]="getStatusClass(lastOrder.status)">{{ lastOrder.status }}</span></h4>
    <div class="sticky-container">
        <div class="card mt-1 mb-1 shopping-cart" *ngFor="let orderItem of lastOrder.items">
            <div class="card-body">
                <h5 class="card-title">{{ orderItem.menu.itemName }} ({{ orderItem.quantity }})</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ orderItem.menu.category }} | {{ orderItem.menu.description }}</h6>
            </div>
        </div>
    </div>
</div>
