<h2>Order Messages</h2>

<div class="sticky-container">
    <div class="card mt-1 mb-1 shopping-cart" *ngFor="let order of orders">
        <div class="card-body">
            <h5 class="card-title">You have one new order with Status: <span [ngClass]="getStatusClass(order.status)">{{ order.status }}</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">This order was placed on {{ order.timestamp | date }}</h6>
            <a href="#" class="card-link">View Order</a>
            <a href="#" class="card-link">Mark as Done</a>
        </div>
    </div>
</div>