<div class="row mt-3" *ngIf="service.selectedRestaurant as restaurant; else elseBlock">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-centered">
                <div class="maintxt rounded-1">
                    <h2 class="text-dark"><img src="assets/img/restaurant_{{ restaurant.id }}.png" class="img-thumbnail"/> {{ restaurant.name }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <!-- Menu -->
        <div class="col-8 mr-3">
            <h3 class="mt-3">Menu</h3>
            <div class="card mt-1 mb-1" *ngFor="let menu of service.selectedMenu">
                <div class="card-body">
                    <h5 class="card-title">{{ menu.itemName }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ menu.category }}</h6>
                    <p class="card-text">{{ menu.description }}</p>
                    <button (click)="addToOrder(menu)" [disabled]="!restaurant.deliveryCondition?.deliveryCost" class="btn btn-primary mt-2 mr-1 btn-margin-right"><i class="fa-solid fa-plus fa-lg mouse-hover"></i> Add to Order</button>
                    <button (click)="removeFromOrder(menu)" [disabled]="!restaurant.deliveryCondition?.deliveryCost" class="btn btn-secondary ml-1 mt-2 btn-margin-left"><i class="fa-solid fa-minus fa-lg mouse-hover"></i> Remove</button>
                </div>
            </div>
        </div>
    
        <!-- Order -->
        <div class="col-4 ml-3">
            <h3 class="mt-3">Order</h3>
            <div class="sticky-container">
                <div class="card mt-1 mb-1 shopping-cart" *ngFor="let orderItem of orderItems">
                    <div class="card-body">
                        <h5 class="card-title">{{ lookupMenuItemName(orderItem) }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ orderItem.quantity }}</h6>
                        <button (click)="increaseOrderItem(orderItem)" class="btn btn-primary mt-2 mr-1 btn-margin-right"><i class="fa-solid fa-plus fa-lg mouse-hover" alt="Add to Order"></i></button>
                        <button (click)="decreaseOrderItem(orderItem)" class="btn btn-secondary ml-1 mt-2 btn-margin-left"><i class="fa-solid fa-minus fa-lg mouse-hover" alt="Remove from Order"></i></button>
                    </div>
                </div>
                <h4 class="mt-1"><u>{{ calculateTotal() | currency:'€':'symbol':'1.2-2':'de-AT' }}</u></h4>
                <h5 class="mt-1" *ngIf="restaurant.deliveryCondition?.deliveryCost; else noDeliveryCost"><em>includes {{ restaurant.deliveryCondition?.deliveryCost | currency:'€':'symbol':'1.2-2':'de-AT' }} for delivery</em></h5>
            </div>
        </div>
    </div>
    
    <button [disabled]="orderItems.length===0" class="btn btn-primary mt-5 mb-1">Submit Order</button>

    <a href="/" class="btn btn-secondary mt-1 mb-5">Go Home</a>
</div>

<ng-template #elseBlock>
    <div class="container not-found-container">
        <div class="row">
            <div class="col">
                <h1>404</h1>
                <p>Restaurant not found!</p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noDeliveryCost>
    <!-- Content to display when there is no delivery cost -->
    <h5 class="mt-1 text-warning"><em>It looks like this restaurant does not deliver to your location</em></h5>
  </ng-template>