<div class="row hero dark mt-2">
    <div *ngIf="auth.isAuthenticated$ | async; else loggedOutButton">
      <button class="btn btn-danger mt-2 mb-1" (click)="logout()">Log out</button>
    </div>
    
    <ng-template #loggedOutButton>
      <button class="btn btn-primary mt-2 mb-1 col-10 offset-1" (click)="login()">Log in</button>
    </ng-template>
  </div>
  
  
  <div class="row hero-dark dark mt-2" *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <div class="col-6">
    </div>
    <div class="col-6">
        <div class="mt-3">
          <p *ngIf="auth.user$ | async as user"><i class="fa-solid fa-user fa-lg"></i>
            Logged in as {{ user.name }} ({{ user.email }}) in Management View <b>(<em>{{ testRestaurant }}</em> example</b>)
          </p>
        </div> 
    </div>
    <a href="/manage" class="btn btn-primary mt-5 col-10 offset-1">Go to Your Management View</a>
    <a href="/" class="btn btn-secondary mt-1 col-10 offset-1">Back to Restaurants Overview</a>
  </div>
  
  <ng-template #loggedOut>
    <div class="row hero-dark dark mt-2">
      <p>Please log in for the Management View</p>
    </div>
  </ng-template>