<div class="col-12 ml-3">
    <h3 class="text-success">In Your Area</h3>

    <div class="card mb-2">
        <div class="card-body">
            <h4 class="card-title">Radius: {{ sliderValue }} km</h4>
            <input type="range" class="form-range" min="0" max="100" id="customRange" [(ngModel)]="sliderValue" (change)="onSliderChange()">
        </div>
    </div>
      
    <ul class="list-group" *ngIf="service.restaurantList.length>0; else elseBlock">
        <li class="list-group-item d-flex justfiy-content-between align-items-start mb-2 border px-4 py-3 rounded-3" *ngFor="let restaurant of service.restaurantList">
            <a [routerLink]="restaurant.id.toString()">
                <div class="flex-grow-1 mouse-hover">
                    <div class="fw-bold">{{ restaurant.name }}</div>
                    <div>{{ restaurant.titleImage }}</div>
                </div>
                <span class="text-secondary">
                    <i class="fa-solid fa-cutlery fa-lg mouse-hover"></i>
                </span>
            </a>   
        </li>
    </ul>
</div>

<ng-template #elseBlock>
    <div class="alert alert-info">
        <i class="fa-solid fa-info-circle fa-lg"></i> Currently no restaurants available in your area
    </div>
</ng-template>