/* You can add global styles to this file, and also import other style files */

.mouse-hover {
  cursor: pointer;
}

/* home page */

.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
  border-radius: 3px;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/img/iconographic2.png');
  background-size: 100px 100px;
  background-repeat: repeat;
  opacity: 0.2; /* Adjust the opacity as needed */
  z-index: -1;
  border-radius: 3px; /* To match the border radius of the parent if necessary */
}


/* Slider */

.custom-styled-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: none;
}

.custom-styled-card .card-body {
  padding: 20px;
}

.custom-styled-card .card-title {
  color: #007bff;
  margin-bottom: 15px;
  text-align: center;
}

.custom-styled-card .form-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background: #e9ecef;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.custom-styled-card .form-range:hover {
  opacity: 1;
}

.custom-styled-card .form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
}

.custom-styled-card .form-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
}

.custom-styled-card .form-range::-webkit-slider-runnable-track {
  height: 15px;
  cursor: pointer;
  background: #007bff;
  border-radius: 1rem;
}

.custom-styled-card .form-range::-moz-range-track {
  height: 15px;
  cursor: pointer;
  background: #007bff;
  border-radius: 1rem;
}

.custom-styled-card .form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-styled-card .form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


/* details page */
.maintxt {
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

  .maintxt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/img/iconographic2.png');
    background-size: 100px 100px;
    background-repeat: repeat;
    opacity: 0.2; /* Adjust the opacity of the background only */
    z-index: -1;
    border-radius: 3px;
  }

  .maintxt img {
    width: 120px;
    position: relative;
    z-index: 1;
  }

  .maintxt h2 {
    min-height: 300px;
    line-height: 300px;
    text-align: center;
    margin-left: -140px;
    position: relative;
    z-index: 1;
  }


.shopping-cart {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 20px;
}

  .sticky-container {
    position: sticky;
    top: 20px;
  }

  .shopping-cart:hover {
    border-color: #007bff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .shopping-cart .card-body {
    background-color: #f8f9fa;
    border-radius: 10px;
  }

  .shopping-cart .card-title {
    color: #333;
    font-weight: bold;
  }

  .shopping-cart .card-subtitle {
    color: #666;
  }

  .shopping-cart .card-link {
    color: #007bff;
    text-decoration: none;
  }

  .shopping-cart .card-link:hover {
    color: #0056b3;
  }

  .shopping-cart .card-text {
    color: #333;
  }


  /* bootstrap fixes */

  .btn-margin-right {
    margin-right: 0.25rem; /* Equivalent to Bootstrap's mr-1 */
  }
  
  .btn-margin-left {
    margin-left: 0.25rem; /* Equivalent to Bootstrap's ml-1 */
  }
  
  /* dark theme */

  .dark {
    background-color: #333; /* Example: dark background */
    color: #fff; /* Example: light text */
  }